/* You can add global styles to this file, and also import other style files */
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p{
    font-size: 14px;
}

.td-indicators{
    cursor: pointer
}
.td-indicators:hover{
    background-color: #3e38381c;
}

td p{
    color: #2470dc;
}

.modal-body{
    overflow-y: scroll;
    max-height: 500px;
}

.icon-modal{
    height: 24px;
    margin-top: 15px;
    transition: transform .5s ease;
    cursor: pointer;
}

.icon-modal:hover{
    transform: scale(1.30);
    color: #2470dc;

}

.svg-inline--fa.fa-w-18 {
    width: unset;
}

.img-circle{
    border-radius: 50%;
    width: 100px;
}


#title-indicator-value{
    color: #2470dc;
}



.chart-container{
    overflow: scroll;
    align-items: center;
    
}
